# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!StorageAccount/terraform.tfvars
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terragrunt
.terragrunt-cache
.tg-cache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
.env
.claude
